<!DOCTYPE html>
<html lang="en">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    
    {% block stylesheets %}
        {% do assets.addCss('theme://css/ima-styles.css',102) %}
    {% endblock %}
    
    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}

{% endblock head%}
</head>


<body id="top" class="{{ page.header.body_classes }}">
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas-content" data-off-canvas-content>

        {% block header %}

            <!-- HEADER COMMUN A TOUTES LES PAGES -->
            <header class="header" style="background-image: url('{{ url('theme://images/ima2.png', true) }}')">
                <a href="{{ base_url == '' ? '/' : base_url }}" class="button button-left">Accueil</a>
                <h1>Bienvenue à la maison ! </h1>
                <button class="button button-right">Crédits</button>
            </header>

        {% endblock %}

        {% block body %}
        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}

            <!-- FOOTER COMMUN A TOUTES LES PAGES -->
            <footer class="footer" style="background-image: url('{{ url('theme://images/ima1.png', true) }}')">

                <a href="/maison" class="button button-bottom-left">LA MAISON</a>
                <a href="/ville" class="button button-bottom-right">LA VILLE</a>

            </footer>

        {% endblock %}

        {% block bottom %}
            {% block javascripts %}
                {% if page.header.wow_js == "disabled" %}
                {% elseif page.header.wow_js == "enabled" or theme_config.wow_js.enabled %}
                    {% do assets.addJs('theme://js/wow.js',{'priority':101, 'group':'bottom'}) %}
                    {% do assets.addInlineJs('var wow = new WOW();wow.init();',{'priority':99, 'pipeline':false, 'group':'bottom'}) %}
                {% endif %}

            {% endblock %}
            {{ assets.js('bottom') }}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
