<!DOCTYPE html>
<html lang="en">
<head>
{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png', true) }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />
    
    {% block stylesheets %}
        {% do assets.addCss('theme://css/ima-styles.css',102) %}
    {% endblock %}
    
    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}

{% endblock head%}
</head>


<body id="top" class="{{ page.header.body_classes }}">
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas-content" data-off-canvas-content>

        {% block header %}
        <header id="header">

        	<div class="row sg-header">
	            {% set image = pages.find('/logo').media.images|first %}
                {% if image %}
                <div id="logo">
                    <a href="{{ base_url == '' ? '/' : base_url }}">
                        {{ image.cropResize(96,96).html }}
                    </a>
                </div>
                {% endif %}
                {% if theme_config.site_title.enabled %}
	            <div id="sg-header-title">
	                <a href="{{ base_url == '' ? '/' : base_url }}">
                        <h3{% if theme_config.google_fonts_logo.enabled %} style="font-family: 'Special Elite', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;"{% endif %}>{{ config.site.title }}</h3>
                    </a>
	            </div>
                {% endif %}
	            <div id="navigation" class="{% if theme_config.mobilemenu_breakpoint == 'all' %}hide{% else %}show-for-{{ theme_config.mobilemenu_breakpoint }}{% endif %}">
	                {% block header_extra %}{% endblock %}
	                {% block header_navigation %}
	                {% include 'partials/navigation.html.twig' %}
	                {% endblock %}
	            </div>
            </div>
        </header>
        {% endblock %}

        {% block body %}
        <section id="body" class="{{ class }}">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}

        {% block footer %}
        {% set content = pages.find('/footer').content %}
        {% if content %}
        <footer id="footer">
            <div class="row sg-center">
                 {{ content }}
            </div>
        </footer>
        {% endif %}
        {% endblock %}

        {% block bottom %}
            {% block javascripts %}
                {% if page.header.wow_js == "disabled" %}
                {% elseif page.header.wow_js == "enabled" or theme_config.wow_js.enabled %}
                    {% do assets.addJs('theme://js/wow.js',{'priority':101, 'group':'bottom'}) %}
                    {% do assets.addInlineJs('var wow = new WOW();wow.init();',{'priority':99, 'pipeline':false, 'group':'bottom'}) %}
                {% endif %}

            {% endblock %}
            {{ assets.js('bottom') }}
        {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
