{% extends 'partials/base.html.twig' %}

{% block content %}

    {{ page.content|markdown }}

    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}" {% if module.header.title|contains('In Page Navigation') or module.header.title|contains('Showcase') %}{% else %}data-magellan-target="{{ _self.pageLinkName(module.menu) }}{% endif %}">

        	{{ module.content|raw }}
			<p>Pays : {{ module.header.country|raw }}</p>
			<p>Coordonnées : {{ module.header.coordination|raw }}</p>

        </div>
    {% endfor %}
{% endblock %}
