{% extends 'partials/base.html.twig' %}

{% block content %}

	<img class="bg-img" src="{{ url(page.media|first.url) }}" usemap="#zonescliquables" width="4032" height="3024" name="" >


    <map name="zonescliquables">
        {% for module in page.collection() %}
            <area shape="poly" coords="{{ module.header.coordination }}" href="#" id="object-{{ module.slug }}" class="object" data-id="{{ module.slug }}" />
        {% endfor %}
    </map>

    {% for module in page.collection() %}
        <div id="{{ _self.pageLinkName(module.menu) }}" class="popin_outer hidden" data-id="{{ module.slug }}">

            <div class="popin big">
                <button class="close" style="background-image: url('{{ url('theme://images/close.png') }}')"></button>
                
                <div class="popin_inner">
                    
                    <h3 class="cartel_title"><strong>Emplacement :</strong> {{ module.header.localization|raw }}</h3>


                    <div class="cartel_content">

                        <div class="cartel_animation">
                            {# <img src="{{ module.media|first.url }}"> #}

                            <iframe src="https://player.vimeo.com/video/{{ module.header.vimeoId|raw }}?h=5563c5ab3f&autoplay=1&loop=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>


                            <p class="cartel_caption">Crédits : {{ module.header.credits|raw }}</p>
                        </div><!-- femeture balise .cartel_animation -->

                        <div class="cartel_text">
                            <div class="cartel_text_top">
                                <div class="cartel_icon">
                                    <img src="{{ url(module.header.elementIcon|first.path) }}">
                                </div>
                                <div>
                                    <p><strong>{{ module.header.country|raw }}</strong></p>
                                    <h4 class="cartel_name">{{ module.header.type|raw }}</h4>
                                </div>
                            </div>

                            <div class="cartel_technique">
                                <p><strong>Date :</strong> {{ module.header.period|raw }}</p>
                                <p><strong>Technique :</strong> {{ module.header.technique|raw }}</p>
                                {% if module.header.size != '' %}
                                    <p><strong>Taille :</strong> {{ module.header.size|raw }}</p>
                                {% endif %}
                                {% if module.header.inventory != '' %}
                                    <p><strong>Numéro d'inventaire :</strong> {{ module.header.inventory|raw }}</p>
                                {% endif %}
                                
                            </div>

                            <div class="cartel_long">
                                {{ module.content|raw }}
                            </div>

                        </div><!-- femeture balise .cartel_text -->            

                    </div>

                </div>

            </div>
        </div>

    {% endfor %}
{% endblock %}
